*{
     margin: 0;
     padding: 0;
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ul ,li{
     list-style-type: none;
}
a{
     text-decoration: none;
}
.dflex{
     display:flex;
}
.dinf{
	display:inline-flex;
}
.dblock{
    display: block;
}
.darkColorgray{
	color:#505050;
}
.darkColorgraylighter{
	color: #9199A1;
}
.bluehover{
    color: #0074cc;
}
.bluehover:hover{
    color: #0091ff;
}
 span.dot-icon {
     color: #FFD700;
     flex:1;
}
 span.dot-icon-g {
     color: #FFD700;
}
 span.dot-icon-s {
     color: #C0C0C0;
}
 span.dot-icon-b {
     color:#CD7F32;
}
.jc{
    justify-content: space-between;
}
.pr{
    position: relative;
}
.clear{
 	clear:both;
}
 .fs20{
     font-size: 20px;
}
.tdu{
    text-decoration: underline;
}
.fontSmaller{
     font-size: 14px;
}
.boxShadowpro{
     box-shadow: 0 3px 6px rgb(0 0 0 / 10%), 0 3px 6px rgb(0 0 0 / 2%);
}
 .header{
     padding: 3px 3px 0px;
     border-top: 3px solid red;
     box-shadow: 0px 1px 2px 0px rgba(17, 17, 17, 0.116);
     background: #F8F9F9;
     position: fixed;
     width: 100%;
     z-index: 10;
     border-bottom: 1px solid #00000018;
}
 .header img{
     height: 29px;
     padding: 4px 0px 4px 45px;
}
 .headerLeft button{
     height: 34px;
     border-radius: 20px;
     margin: 5px 15px 4px 18px;
     border: 0px black;
     padding: 8px;
     color: #7a7a7a;
}
 .headerLeft button:hover{
     background: #E3E6E8;
}
 .headerMiddle input:focus{
     outline: none;
}
 .headerMiddle{
     width: 80%;
     padding: 3px 0px 6px 0px;
}
 .headerMiddle input{
     border-radius: 3px;
     padding: 4px 4px 4px 35px;
     font-size: 12px;
     color: #848484;
     border: 1px solid #c5c5c5;
}
 .headerMiddle img{
     position: absolute;
     top: 6px;
     padding-left: 10px;
     height: 20px;
     width: 20px;
     opacity: .5;
}
 input:focus {
     outline: none !important;
     border-color: #719ECE;
     box-shadow: 0 0 10px #719ECE;
}
 .headerRight img{
     padding: 10px;
     height: fit-content;
     align-items: center;
     width: 18px;
     opacity: .6;
}
 .headerRight{
     margin-right: 30px;
}
 .form-control{
     width: 100%;
}
 .headerUser{
     font-size: 13px;
}
 .headerUser span{
     padding: 6px 6px 6px 0px;
}
 .header-user img{
     width: 24px;
     padding-top: 6px;
     border-radius: 10px;
     opacity: 1;
}
 .sideBar{
     padding: 20px 0px 144px 44px;
     color:#7a7a7a;
     font-size: 13px;
     border-right: 1px solid rgba(17, 17, 17, 0.116);
     position: sticky;
     top:0;
     width: 168px;
     height: 540px;
}
 .sideBar li{
     vertical-align: middle;
     line-height: 34px;
}
 .sb1 li:nth-child(2) {
     font-size: 11px;
}
 .sideBar li:hover{
     color: rgb(2, 2, 2);
}
 .sb1 img{
     vertical-align: middle;
     margin-right: 6px;
}
 .sub-sb1 li{
     padding-left: 25px;
}
 #user{
     font-weight: 750;
     color: black;
     border-right: 3px solid #F48024;
     background: #f1f2f3;
}
 .iconInfo{
    margin: 8px;
    width: 15px;
    height: 15px;
    opacity: .6;
}
 .iconStar{
     width: 15px;
     padding: 0px 10px 0px 0px;
}
 .sb2,.sb3{
     padding-top: 10px;
}
 .mainBody{
     padding-top: 50px;
}
 .sb3 #iconInfo{
     padding-left: 90px;
}
 #earth-icon{
     font-size: 20px;
     vertical-align:sub;
}
 #earth-icon:hover{
     opacity: 1;
}
 .mc-1{
     padding: 2px 10px;
}
 .mc-1 img{
     width: 128px;
}
 .mainContent{
     padding: 10px 10px;
     width: 80%;
}
.dif{
     display: inline-flex;
     width: 100%;
}
 .mc-2{
     padding: 20px 10px;
}
 .ic-2 img{
     width: 18px;
     opacity: .6;
     vertical-align: middle;
     cursor: pointer;
}
 .image-content{
     padding: 20px 10px 10px 10px ;
}
 .image-content p{
     font-size: 35px;
     font-family: Arial, Helvetica, sans-serif;
}
 .ic-fp{
     padding: 5px 0px;
}
 .ic-1 span.material-icons{
     font-size: 18px;
     display: inline-block;
     vertical-align: bottom;
}
 .button-icon{
     position: absolute;
     right:70px;
}
.btn-default{
    background: white;
    border: 1px solid #7a7a7a;
    padding: 4px;
}
 .btn{
     color:#7a7a7a;
     text-decoration: none;
     font-size: 13px;
     cursor: pointer;
}
 #expand-icon{
     vertical-align: middle;
}
 .profile button{
     border: none;
     padding: 6px 12px 6px 12px;
     border-radius: 15px;
     color: #fff;
     background: #F48024;
     cursor: pointer;
}
 .profile button:hover{
     background-color: #DA680B;
}
 .activity-btn button{
     border: none;
     padding: 8px 15px 8px 15px;
     border-radius: 15px;
     background: #fff;
     color:#7a7a7a;
     cursor: pointer;
}
 .activity-btn{
     padding-left: 10px;
}
 .activity-btn button:hover{
     background: #E3E6E8;
}
 .stats-bar{
     padding: 0px 10px;
}
 .cm2-title a{
     float: right;
     color: #505050;
}
 .content-row{
     line-height: 20px;
}
 .content-row div{
     text-align: left;
     padding: 8px 12px 8px 15px;
     width: 100px;
}
 .stats-content div{
     padding: 8px 15px 8px 15px;
}
 .content-full{
     line-height: 20px;
     padding: 15px;
}
 .achievements img{
     width: 20px;
}
 .status-content{
     border: 1px solid rgba(17, 17, 17, 0.116);
     border-radius: 5px;
     margin-top: 10px;
     padding-top: 10px;
}
 .collectives-content{
     padding: 10px 10px;
     border: 1px solid rgba(17, 17, 17, 0.116);
}
 .collectives-content img{
     width: 60px;
     display: block;
     padding: 0px 10px;
}
 .collectives-title{
     padding: 8px 0px;
}
 .collective-info{
     font-size: 16px;
     padding: 10px;
     cursor: pointer;
}
 #collective-emp{
     display: block;
     font-size: 12px;
}
 #icon-view{
     margin-left: 50px;
     font-size: 13px;
     opacity: .6;
}
 #mi-view{
     width: 15px;
     vertical-align: middle;
     opacity: .6;
}
 .Communities{
     padding: 20px 0px;
     padding-top: 10px;
}
 .communities-content{
     padding: 10px 20px 10px;
     border: 1px solid rgba(17, 17, 17, 0.116);
     border-radius: 5px;
}
 .communities-content img{
     width: 15px;
}
 .communities-content a{
     font-size: 13px;
}
 .communities-content a:hover{
     color: #0493ff;
}
 .communities-content span{
     font-size: 13px;
     float: right;
}
 .communities-content ul{
     list-style-type: none;
}
 .communities-title{
     padding: 10px 0px;
}
 .communities-content li{
     line-height: 29px;
}
 ol.list{
     list-style-type: circle;
}
.about-bar{
      margin-left: 10px;
}
 .discription{
     line-height: 25px;
}
 .sites-list{
     padding: 20px 0px;
}
 .list{
     padding: 10px 30px;
     line-height: 36px;
}
 .cc-title2{
     padding: 10px;
}
 .cc-title img{
     width: 50px;
}
 .cc-title{
     width: 200px;
    height: 160px;
    padding: 10px;
     border: 1px solid rgba(17, 17, 17, 0.116);
     display: inline-block;
     margin: 5px 12px;
     border-radius: 6px;
}
 .cm2{
     padding: 28px 0px 0px;
}
 div.img-content{
     padding: 5px 10px;
}
 .cc-c1{
     line-height: 10px;
     font-size: 11px;	
     padding: 3px 0px;
}
 .cc-c2{
     padding: 7px;
     border: 1px solid rgba(17, 17, 17, 0.116);
     display: inline-block;
     border-radius: 5px;
}
 .cc-c2:hover{
     background: #d8d8d8;
}
 .cc-c3{
     padding: 5px;
     float: right;
}
 .img-content p{
     font-size: 12px;
}
 .cm2-title{
     padding:3px 10px 0px;
}
 .tag-title a{
     float: right;
     color: #505050;
}
 .tag-title{
     padding: 10px;
}
 .top-data{
     padding: 0px 10px;
}
 #h1{
     font-size: 16px;
}
 #h2{
     font-size: 12px;
     padding: 3px;
     color: #8a898f;
}
 .tag-rows{
     display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid rgba(17, 17, 17, 0.116);
}
 .tag-rows a{
     background:#e7f3ff;
     color: #0074cc;
     padding: 5px;
     font-size: 12px;
}
 .tag-rows a:hover{
     background: #a1a1f86b;
}
 .post-left{
     display: inline-block;
}
 .post-right{
     padding: 5px;
}
 .post-right a{
     padding: 5px;
     border: 1px solid rgba(17, 17, 17, 0.23);
}
.box2{
     padding: 0px 10px;
}
 #title-head{
     font-size: 20px;
}
 .post-bar{
     padding: 20px 0px 10px;
}
 .post-right a{
     font-size: 11px;
     color: #505050;
}
 .post-content{
     padding: 10px 0px;
}
 #bg-gray{
     background:#8d949c49;
}
 #gray-icon{
     color: black;
     border: 1px solid rgba(17, 17, 17, 0.116);
     background: white;
}
 .pr-left img{
     width: 30px;
     padding: 5px 10px;
}
 .pr-left a{
     padding: 10px 10px;
}
 .pr-right span{
     padding: 10px;
     font-size: 13px;
     color: #8d949c;
}
 .post-row{
     display: flex;
     border: 1px solid rgba(17, 17, 17, 0.1);
     justify-content: space-between;
}
 .pr-left span{
     background: #6ab96a;
     color: white;
     padding: 5px;
     border-radius: 5px;
     margin: 10px 10px;
     font-size: 12px;
}
 .meta-title{
     padding: 10px 0px;
}
 .meta-title-right img{
     width: 20px;
}
 .meta-title-right span{
     display: inline-flex;
     vertical-align: super;
}
 .meta-title-right{
     float: right;
}
 .meta-image{
     width:20px;
     height: 20px;
     margin: 15px 10px;
}
 .meta-left a:hover{
     color: #4040ff;
}
 .meta-left span{
     color: #505050;
     padding: 5px;
     border-radius: 5px;
     margin: 10px 10px;
     font-size: 12px;
     border: 1px solid #00000042;
}
 .meta-left a{
     padding: 10px 10px;
}
 .net-right{
     float: right;
}
 .network-post{
     padding: 20px 0px;
}
 .network-title{
     padding: 10px 0px 10px;
}
 .net-right a{
     font-size: 12px;
     color: #8a898f;
}
 .network-image{
     width:20px !important;
     height: 20px !important;
     padding: 10px !important;
}
 .network-left a{
     padding: 10px 10px;
}
 .network-left span{
     color: #505050;
     padding: 5px;
     border-radius: 5px;
     margin: 10px 10px;
     font-size: 12px;
     border: 1px solid #00000042;
}
 .network-row{
     border: 1px solid rgba(17, 17, 17, 0.1);
}
/* footer */
 #footer-content{
     background-color:#242729;
     color: #c4c3d1;
     font-family:Georgia, 'Times New Roman', Times, serif;
     padding: 20px 84px 10px 0px;
}
 footer{
     padding: 10px;
}
 .footer-bar img{
     width: 55px;
}
 .colu{
     padding: 0px 8px 0px 35px;
}
 .colu li{
     line-height: 30px;
}
 .row{
     font-size: 12px;
     color: #8a898f;
}
 .colu a{
     color: #8a898f;
     font-size: 13px;
     padding-left: 10px;
}
 .colu a:hover{
     color:#717072 ;
}
 .footer-bar .main-f a{
     font-size: 12px;
     font-weight: 700;
     color:#bdbdbd;
}
.ml15{
    margin-left: 15px;
}
.cp{
    position: absolute;
    font-size: 10px;
    bottom: 50px;
    color: #8a898f;
    line-height: 15px;
    margin-left: 15px;
}
.pr{
   position:relative;
}


 